In [27]:
f1="C:/Users/HP/Downloads/exercise.csv"
f2="C:/Users/HP/Downloads/calories.csv"

In [28]:
import numpy as np
import pandas as pd 

df1=pd.read_csv(f1)
df2=pd.read_csv(f2)

In [29]:
new_df=pd.merge(df1,df2, on='User_ID',how='inner')

In [30]:
new_df.to_csv("C:/Users/HP/Downloads/calories_exercise_combined.csv",index=False)

In [23]:
new_df

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0
...,...,...,...,...,...,...,...,...,...
14995,15644082,female,20,193.0,86.0,11.0,92.0,40.4,45.0
14996,17212577,female,27,165.0,65.0,6.0,85.0,39.2,23.0
14997,17271188,female,43,159.0,58.0,16.0,90.0,40.1,75.0
14998,18643037,male,78,193.0,97.0,2.0,84.0,38.3,11.0
14999,11751526,male,63,173.0,79.0,18.0,92.0,40.5,98.0

In [31]:
new_df.drop('User_ID',inplace=True, axis=1)

In [32]:
new_df

       Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0        male   68   190.0    94.0      29.0       105.0       40.8     231.0
1      female   20   166.0    60.0      14.0        94.0       40.3      66.0
2        male   69   179.0    79.0       5.0        88.0       38.7      26.0
3      female   34   179.0    71.0      13.0       100.0       40.5      71.0
4      female   27   154.0    58.0      10.0        81.0       39.8      35.0
...       ...  ...     ...     ...       ...         ...        ...       ...
14995  female   20   193.0    86.0      11.0        92.0       40.4      45.0
14996  female   27   165.0    65.0       6.0        85.0       39.2      23.0
14997  female   43   159.0    58.0      16.0        90.0       40.1      75.0
14998    male   78   193.0    97.0       2.0        84.0       38.3      11.0
14999    male   63   173.0    79.0      18.0        92.0       40.5      98.0

[15000 rows x 8 columns]